body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(photos/Caribbean-beach.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}
.login-left{
    background: rgba(72, 67, 139, 0.5);
    padding: 30px;
}
.login-right{
    background: rgba(89, 165, 165, 0.5);
    padding: 30px;
}
.form-control{
    background-color: rgba(245, 245, 245, 0.712)  !important;
}